<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088509430521-doptkm4hq5m7vrcoisv2icmsi15ku747.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088509430521-doptkm4hq5m7vrcoisv2icmsi15ku747</string>
	<key>API_KEY</key>
	<string>AIzaSyDQzhJ9Qmklfd5BMHiYAVOQTQM6pbkzxJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1088509430521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mediumClient</string>
	<key>PROJECT_ID</key>
	<string>writefolio-65a1a</string>
	<key>STORAGE_BUCKET</key>
	<string>writefolio-65a1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088509430521:ios:4971924f34aaa0696a3028</string>
</dict>
</plist>